/* ========================
          Backgrounds
   ======================== */
.bg.dark_gray, .bg.red, .bg.blue, .bg.green, .bg.purple, .bg.orange {
  color: white;
}
.bg.white, .bg.light_gray, .bg.gray {
  color: #444;
}
.bg.white {
  background: white;
}
.bg.light_gray {
  background: #F5F5F5;
}
.bg.gray {
  background: #ddd;
}
.bg.dark_gray {
  background: #ADADAD;
}
.bg.red {
  background: #D40007;
}
.bg.blue {
  background: #2474EC;
}
.bg.green {
  background: #1BB820;
}
.bg.purple {
  background: #9c27b0;
}
.bg.orange {
  background: #ff9800;
}
.bg > a {
  color: white;
  font-style: italic;
}
.bg.gray > a, .bg.light_gray > a, .bg.white > a {
  color: #444;
}
.bg code {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
