/* Backgrounds */
.bg.panel.white, .bg.panel.light_gray, .bg.panel.gray, .bg.panel.dark_gray, .bg.panel.red, .bg.panel.blue, .bg.panel.green, .bg.panel.purple, .bg.panel.orange {
  padding: 1rem;
  border-radius: .2rem;
  box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.16), 0 0.6rem 0.8rem 0 rgba(0, 0, 0, 0.12);
}
.bg.dark_gray, .bg.red, .bg.blue, .bg.green, .bg.purple, .bg.orange {
  color: white;
}
.bg.white, .bg.light_gray, .bg.gray {
  color: #444;
}
.bg.white {
  background: white;
}
.bg.light_gray {
  background: #F5F5F5;
}
.bg.gray {
  background: #ddd;
}
.bg.dark_gray {
  background: #ADADAD;
}
.bg.red {
  background: #D42A30;
}
.bg.blue {
  background: #2675EB;
}
.bg.green {
  background: #3EBB42;
}
.bg.purple {
  background: #9F3DB0;
}
.bg.orange {
  background: #ff9800;
}
.bg > a {
  color: white;
  font-style: italic;
}
.bg.gray > a, .bg.light_gray > a, .bg.white > a {
  color: #444;
}
.bg code {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
