/* =====================
          Buttons
   ===================== */
.btn {
  transition: 0.3s;
  padding: 0 1.8rem;
  line-height: 2.8rem;
  border: .2rem solid transparent;
  border-radius: 0.25rem;
  margin: .2rem 0;
  outline: none;
  color: #2780e3;
  background-color: white;
  background-size: 100%;
  background-position: 50%;
}
.btn:active:not([disabled]) {
  background-color: #2780e3;
  background-image: radial-gradient(circle, #2780e3 10%, #6bc4ff 11%);
}
.btn:hover:not([disabled]) {
  background-color: #6bc4ff;
}
.btn:active, .btn:hover {
  color: white;
}
.btn:hover, .btn:focus {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.12), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.19), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
  background-size: 1000%;
}
.btn.default {
  color: #2780e3;
  background: none;
  box-shadow: none;
}
.btn.default:hover {
  background: none;
  text-decoration: underline;
}
.btn.default.white {
  color: white;
}
.btn.default.white:hover {
  color: white;
}
.btn.flat {
  border-radius: 0;
  box-shadow: none;
}
.btn.red.active, .btn.red:hover, .btn.red:active, .btn.blue.active, .btn.blue:hover, .btn.blue:active, .btn.green.active, .btn.green:hover, .btn.green:active, .btn.purple.active, .btn.purple:hover, .btn.purple:active, .btn.orange.active, .btn.orange:hover, .btn.orange:active {
  color: white;
}
.btn.red {
  border-color: #D40007;
  color: #D40007;
}
.btn.red.active {
  background-color: #D40007;
}
.btn.red:hover:not([disabled]) {
  background-color: #e51118;
  border-color: #e51118;
}
.btn.red:active:not([disabled]) {
  background-color: #ff333a;
  border-color: #ff333a;
  background-image: radial-gradient(circle, #ff333a 12%, #f62229 13%);
}
.btn.blue {
  border-color: #2474EC;
  color: #2474EC;
}
.btn.blue.active {
  background-color: #2474EC;
}
.btn.blue:hover:not([disabled]) {
  background-color: #3585fd;
  border-color: #3585fd;
}
.btn.blue:active:not([disabled]) {
  background-color: #57a7ff;
  border-color: #57a7ff;
  background-image: radial-gradient(circle, #57a7ff 12%, #4696ff 13%);
}
.btn.green {
  border-color: #1BB820;
  color: #1BB820;
}
.btn.green.active {
  background-color: #1BB820;
}
.btn.green:hover:not([disabled]) {
  background-color: #2cc931;
  border-color: #2cc931;
}
.btn.green:active:not([disabled]) {
  background-color: #4eeb53;
  border-color: #4eeb53;
  background-image: radial-gradient(circle, #4eeb53 12%, #3dda42 13%);
}
.btn.purple {
  border-color: #9c27b0;
  color: #9c27b0;
}
.btn.purple.active {
  background-color: #9c27b0;
}
.btn.purple:hover:not([disabled]) {
  background-color: #ad38c1;
  border-color: #ad38c1;
}
.btn.purple:active:not([disabled]) {
  background-color: #cf5ae3;
  border-color: #cf5ae3;
  background-image: radial-gradient(circle, #cf5ae3 12%, #be49d2 13%);
}
.btn.orange {
  border-color: #ff9800;
  color: #ff9800;
}
.btn.orange.active {
  background-color: #ff9800;
}
.btn.orange:hover:not([disabled]) {
  background-color: #ffa911;
  border-color: #ffa911;
}
.btn.orange:active:not([disabled]) {
  background-color: #ffcb33;
  border-color: #ffcb33;
  background-image: radial-gradient(circle, #ffcb33 12%, #ffba22 13%);
}

.btn[disabled] {
  opacity: 0.5;
  color: #2780e3;
  cursor: not-allowed;
}
.btn[disabled]:not(.btn) {
  background: none;
}
.btn[disabled]:hover {
  text-decoration: none;
  box-shadow: none;
}
.btn[disabled].red {
  color: #D40007;
}
.btn[disabled].blue {
  color: #2474EC;
}
.btn[disabled].green {
  color: #1BB820;
}
.btn[disabled].purple {
  color: #9c27b0;
}
.btn[disabled].orange {
  color: #ff9800;
}
.btn[disabled].active:not(.default) {
  color: white;
}

div.btn {
  display: inline-block;
}

a.btn {
  display: inline-block;
}
a.btn:active, a.btn:hover {
  text-decoration: none;
}

.btn.small {
  font-size: 0.8rem;
  line-height: 2rem;
  padding: 0 1rem;
}

.btn.big {
  font-size: 1.5rem;
  line-height: 4rem;
  padding: 0 1.8rem;
}
