/* Buttons */
.btn {
  transition: 0.2s ease-in-out;
  padding: .5rem 1.8rem;
  border: .2rem solid transparent;
  border-radius: 0.25rem;
  margin: .2rem 0;
  outline: none;
  color: #2780e3;
  background: none;
  text-transform: uppercase;
}
.btn:hover, .btn:active {
  text-decoration: underline;
}
.btn.white, .btn.red, .btn.blue, .btn.green, .btn.purple, .btn.orange {
  background-size: 100%;
  background-position: 50%;
}
.btn.white:hover, .btn.white:focus, .btn.red:hover, .btn.red:focus, .btn.blue:hover, .btn.blue:focus, .btn.green:hover, .btn.green:focus, .btn.purple:hover, .btn.purple:focus, .btn.orange:hover, .btn.orange:focus {
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.12), 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.btn.white:active:not([disabled]), .btn.red:active:not([disabled]), .btn.blue:active:not([disabled]), .btn.green:active:not([disabled]), .btn.purple:active:not([disabled]), .btn.orange:active:not([disabled]) {
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.19), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
  background-size: 1000%;
}
.btn.red.active, .btn.red:hover:not([disabled]), .btn.red:active:not([disabled]), .btn.blue.active, .btn.blue:hover:not([disabled]), .btn.blue:active:not([disabled]), .btn.green.active, .btn.green:hover:not([disabled]), .btn.green:active:not([disabled]), .btn.purple.active, .btn.purple:hover:not([disabled]), .btn.purple:active:not([disabled]), .btn.orange.active, .btn.orange:hover:not([disabled]), .btn.orange:active:not([disabled]) {
  color: white;
  text-decoration: none;
}
.btn.white {
  border-color: white;
  color: #2780e3;
  text-decoration: none;
}
.btn.white.active {
  background-color: white;
}
.btn.white:hover:not([disabled]) {
  background-color: #49a2ff;
  border-color: #49a2ff;
  color: white;
}
.btn.white:active:not([disabled]) {
  background-color: #055ec1;
  border-color: #055ec1;
  background-image: radial-gradient(circle, #055ec1 12%, #49a2ff 13%);
  color: white;
}
.btn.red {
  border-color: #D42A30;
  color: #D42A30;
}
.btn.red.active {
  background-color: #D42A30;
}
.btn.red:hover:not([disabled]) {
  background-color: #e53b41;
  border-color: #e53b41;
}
.btn.red:active:not([disabled]) {
  background-color: #ff5d63;
  border-color: #ff5d63;
  background-image: radial-gradient(circle, #ff5d63 12%, #f64c52 13%);
}
.btn.blue {
  border-color: #2675EB;
  color: #2675EB;
}
.btn.blue.active {
  background-color: #2675EB;
}
.btn.blue:hover:not([disabled]) {
  background-color: #3786fc;
  border-color: #3786fc;
}
.btn.blue:active:not([disabled]) {
  background-color: #59a8ff;
  border-color: #59a8ff;
  background-image: radial-gradient(circle, #59a8ff 12%, #4897ff 13%);
}
.btn.green {
  border-color: #3EBB42;
  color: #3EBB42;
}
.btn.green.active {
  background-color: #3EBB42;
}
.btn.green:hover:not([disabled]) {
  background-color: #4fcc53;
  border-color: #4fcc53;
}
.btn.green:active:not([disabled]) {
  background-color: #71ee75;
  border-color: #71ee75;
  background-image: radial-gradient(circle, #71ee75 12%, #60dd64 13%);
}
.btn.purple {
  border-color: #9F3DB0;
  color: #9F3DB0;
}
.btn.purple.active {
  background-color: #9F3DB0;
}
.btn.purple:hover:not([disabled]) {
  background-color: #b04ec1;
  border-color: #b04ec1;
}
.btn.purple:active:not([disabled]) {
  background-color: #d270e3;
  border-color: #d270e3;
  background-image: radial-gradient(circle, #d270e3 12%, #c15fd2 13%);
}
.btn.orange {
  border-color: #ff9800;
  color: #ff9800;
}
.btn.orange.active {
  background-color: #ff9800;
}
.btn.orange:hover:not([disabled]) {
  background-color: #ffa911;
  border-color: #ffa911;
}
.btn.orange:active:not([disabled]) {
  background-color: #ffcb33;
  border-color: #ffcb33;
  background-image: radial-gradient(circle, #ffcb33 12%, #ffba22 13%);
}
.btn.flat {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.btn[disabled] {
  opacity: 0.5;
  color: #2780e3;
  cursor: not-allowed;
}
.btn[disabled]:not(.btn) {
  background: none;
}
.btn[disabled]:hover {
  text-decoration: none;
  box-shadow: none;
}
.btn[disabled].red {
  color: #D42A30;
}
.btn[disabled].blue {
  color: #2675EB;
}
.btn[disabled].green {
  color: #3EBB42;
}
.btn[disabled].purple {
  color: #9F3DB0;
}
.btn[disabled].orange {
  color: #ff9800;
}
.btn[disabled].active:not(.default) {
  color: white;
}

a.btn,
div.btn {
  display: inline-block;
  background-color: transparent;
}

.btn.small {
  font-size: 0.8rem;
  padding: 0.2rem 1rem;
}

.btn.big {
  font-size: 1.5rem;
  padding: 1rem 2.2rem;
}
