/* ===========================
          Default styles
   =========================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}
html {
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background: white;
  color: #444;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #3891f4;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
a:active {
  outline: 0;
}
a:hover {
  outline: 0;
  color: #5ab3ff;
}
a:focus {
  color: white;
  background: #2780e3;
}

p {
  margin: .2rem 0 1rem;
}

img {
  max-width: 100%;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: .1rem solid #eee;
}

blockquote {
  position: relative;
  padding: 1.5rem 3.5rem;
  display: inline-block;
}
blockquote:before, blockquote:after {
  font-size: 1.5rem;
  position: absolute;
}
blockquote:before {
  font-family: "FontAwesome";
  content: "\f10d";
  top: -1.5rem;
  left: 0;
}
blockquote:after {
  font-family: "FontAwesome";
  content: "\f10e";
  bottom: -1.5rem;
  right: 0;
}

/* Clearfix from Nicolas Gallagher | http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
