/* Default styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}
html {
  font-size: 14px;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  background: white;
  color: #444;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: #3891f4;
  cursor: pointer;
}
a:hover {
  color: #5ab3ff;
}
a:focus {
  text-decoration: underline;
}

p {
  margin: .2rem 0 1rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: circle;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

blockquote {
  padding: 1rem 3.5rem;
  font-size: 1.3rem;
  border-left: 0.4rem solid #eeeeee;
}

/* Clearfix from Nicolas Gallagher | http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
