/* =====================
          Dropdown                                  on css!
   ===================== */
.block-dropdown > input, .block-dropdown > label {
  display: none;
}
.block-dropdown > input:checked + label, .block-dropdown > input:not(:checked) + label {
  display: block;
  padding: .8rem 1rem;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem;
}
.block-dropdown > input:checked + label + div {
  display: none;
}
.block-dropdown > input:checked + label {
  background: #666;
}
.block-dropdown > input:not(:checked) + label {
  background: #2780e3;
}
.block-dropdown > input:not(:checked) ~ div {
  /* Insert styles here */
}
