/* =================
          Grid
   ================= */
.container {
  margin: 0 auto;
}

.container,
.container-full {
  padding: 0 1rem;
}

.flex,
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}
.row > [class*="block-"] {
  padding: 0 1rem;
  position: relative;
}

.row-xs-left {
  justify-content: flex-start;
}

.row-xs-center {
  justify-content: center;
}

.row-xs-right {
  justify-content: flex-end;
}

.row-xs-between {
  justify-content: space-between;
}

.row-xs-around {
  justify-content: space-around;
}

.block-xs-top {
  align-items: flex-start;
}

.block-xs-center {
  align-items: center;
}

.block-xs-bottom {
  align-items: flex-end;
}

.block-xs-base {
  align-items: baseline;
}

.block-xs-full {
  align-items: stretch;
}

.cont-xs-top {
  align-content: flex-start;
}

.cont-xs-center {
  align-content: center;
}

.cont-xs-bottom {
  align-content: flex-end;
}

.cont-xs-between {
  align-content: space-between;
}

.cont-xs-around {
  align-content: space-around;
}

.flex-xs-row {
  flex-direction: row;
}

.flex-xs-rowr {
  flex-direction: row-reverse;
}

.flex-xs-column {
  flex-direction: column;
}

.flex-xs-columnr {
  flex-direction: column-reverse;
}

.back-retreat-xs {
  margin: 0 -1rem;
}

.block-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex: 1;
  max-width: 100%;
}

.block-xs-1 {
  -ms-flex-preferred-size: 0 0 8.33333%;
  -webkit-flex-basis: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.block-xs-2 {
  -ms-flex-preferred-size: 0 0 16.66667%;
  -webkit-flex-basis: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.block-xs-3 {
  -ms-flex-preferred-size: 0 0 25%;
  -webkit-flex-basis: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.block-xs-4 {
  -ms-flex-preferred-size: 0 0 33.33333%;
  -webkit-flex-basis: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.block-xs-5 {
  -ms-flex-preferred-size: 0 0 41.66667%;
  -webkit-flex-basis: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.block-xs-6 {
  -ms-flex-preferred-size: 0 0 50%;
  -webkit-flex-basis: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.block-xs-7 {
  -ms-flex-preferred-size: 0 0 58.33333%;
  -webkit-flex-basis: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.block-xs-8 {
  -ms-flex-preferred-size: 0 0 66.66667%;
  -webkit-flex-basis: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.block-xs-9 {
  -ms-flex-preferred-size: 0 0 75%;
  -webkit-flex-basis: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.block-xs-10 {
  -ms-flex-preferred-size: 0 0 83.33333%;
  -webkit-flex-basis: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.block-xs-11 {
  -ms-flex-preferred-size: 0 0 91.66667%;
  -webkit-flex-basis: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.block-xs-12 {
  -ms-flex-preferred-size: 0 0 100%;
  -webkit-flex-basis: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 97%;
  }

  .row-sm-left {
    justify-content: flex-start;
  }

  .row-sm-center {
    justify-content: center;
  }

  .row-sm-right {
    justify-content: flex-end;
  }

  .row-sm-between {
    justify-content: space-between;
  }

  .row-sm-around {
    justify-content: space-around;
  }

  .block-sm-top {
    align-items: flex-start;
  }

  .block-sm-center {
    align-items: center;
  }

  .block-sm-bottom {
    align-items: flex-end;
  }

  .block-sm-base {
    align-items: baseline;
  }

  .block-sm-full {
    align-items: stretch;
  }

  .cont-sm-top {
    align-content: flex-start;
  }

  .cont-sm-center {
    align-content: center;
  }

  .cont-sm-bottom {
    align-content: flex-end;
  }

  .cont-sm-between {
    align-content: space-between;
  }

  .cont-sm-around {
    align-content: space-around;
  }

  .flex-sm-row {
    flex-direction: row;
  }

  .flex-sm-rowr {
    flex-direction: row-reverse;
  }

  .flex-sm-column {
    flex-direction: column;
  }

  .flex-sm-columnr {
    flex-direction: column-reverse;
  }

  .back-retreat-sm {
    margin: 0 -1rem;
  }

  .block-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .block-sm-1 {
    -ms-flex-preferred-size: 0 0 8.33333%;
    -webkit-flex-basis: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .block-sm-2 {
    -ms-flex-preferred-size: 0 0 16.66667%;
    -webkit-flex-basis: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .block-sm-3 {
    -ms-flex-preferred-size: 0 0 25%;
    -webkit-flex-basis: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block-sm-4 {
    -ms-flex-preferred-size: 0 0 33.33333%;
    -webkit-flex-basis: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .block-sm-5 {
    -ms-flex-preferred-size: 0 0 41.66667%;
    -webkit-flex-basis: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .block-sm-6 {
    -ms-flex-preferred-size: 0 0 50%;
    -webkit-flex-basis: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .block-sm-7 {
    -ms-flex-preferred-size: 0 0 58.33333%;
    -webkit-flex-basis: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .block-sm-8 {
    -ms-flex-preferred-size: 0 0 66.66667%;
    -webkit-flex-basis: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .block-sm-9 {
    -ms-flex-preferred-size: 0 0 75%;
    -webkit-flex-basis: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .block-sm-10 {
    -ms-flex-preferred-size: 0 0 83.33333%;
    -webkit-flex-basis: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .block-sm-11 {
    -ms-flex-preferred-size: 0 0 91.66667%;
    -webkit-flex-basis: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .block-sm-12 {
    -ms-flex-preferred-size: 0 0 100%;
    -webkit-flex-basis: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 95%;
  }

  .row-md-left {
    justify-content: flex-start;
  }

  .row-md-center {
    justify-content: center;
  }

  .row-md-right {
    justify-content: flex-end;
  }

  .row-md-between {
    justify-content: space-between;
  }

  .row-md-around {
    justify-content: space-around;
  }

  .block-md-top {
    align-items: flex-start;
  }

  .block-md-center {
    align-items: center;
  }

  .block-md-bottom {
    align-items: flex-end;
  }

  .block-md-base {
    align-items: baseline;
  }

  .block-md-full {
    align-items: stretch;
  }

  .cont-md-top {
    align-content: flex-start;
  }

  .cont-md-center {
    align-content: center;
  }

  .cont-md-bottom {
    align-content: flex-end;
  }

  .cont-md-between {
    align-content: space-between;
  }

  .cont-md-around {
    align-content: space-around;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-rowr {
    flex-direction: row-reverse;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .flex-md-columnr {
    flex-direction: column-reverse;
  }

  .back-retreat-md {
    margin: 0 -1rem;
  }

  .block-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .block-md-1 {
    -ms-flex-preferred-size: 0 0 8.33333%;
    -webkit-flex-basis: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .block-md-2 {
    -ms-flex-preferred-size: 0 0 16.66667%;
    -webkit-flex-basis: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .block-md-3 {
    -ms-flex-preferred-size: 0 0 25%;
    -webkit-flex-basis: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block-md-4 {
    -ms-flex-preferred-size: 0 0 33.33333%;
    -webkit-flex-basis: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .block-md-5 {
    -ms-flex-preferred-size: 0 0 41.66667%;
    -webkit-flex-basis: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .block-md-6 {
    -ms-flex-preferred-size: 0 0 50%;
    -webkit-flex-basis: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .block-md-7 {
    -ms-flex-preferred-size: 0 0 58.33333%;
    -webkit-flex-basis: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .block-md-8 {
    -ms-flex-preferred-size: 0 0 66.66667%;
    -webkit-flex-basis: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .block-md-9 {
    -ms-flex-preferred-size: 0 0 75%;
    -webkit-flex-basis: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .block-md-10 {
    -ms-flex-preferred-size: 0 0 83.33333%;
    -webkit-flex-basis: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .block-md-11 {
    -ms-flex-preferred-size: 0 0 91.66667%;
    -webkit-flex-basis: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .block-md-12 {
    -ms-flex-preferred-size: 0 0 100%;
    -webkit-flex-basis: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    width: 1190px;
  }

  .row-lg-left {
    justify-content: flex-start;
  }

  .row-lg-center {
    justify-content: center;
  }

  .row-lg-right {
    justify-content: flex-end;
  }

  .row-lg-between {
    justify-content: space-between;
  }

  .row-lg-around {
    justify-content: space-around;
  }

  .block-lg-top {
    align-items: flex-start;
  }

  .block-lg-center {
    align-items: center;
  }

  .block-lg-bottom {
    align-items: flex-end;
  }

  .block-lg-base {
    align-items: baseline;
  }

  .block-lg-full {
    align-items: stretch;
  }

  .cont-lg-top {
    align-content: flex-start;
  }

  .cont-lg-center {
    align-content: center;
  }

  .cont-lg-bottom {
    align-content: flex-end;
  }

  .cont-lg-between {
    align-content: space-between;
  }

  .cont-lg-around {
    align-content: space-around;
  }

  .flex-lg-row {
    flex-direction: row;
  }

  .flex-lg-rowr {
    flex-direction: row-reverse;
  }

  .flex-lg-column {
    flex-direction: column;
  }

  .flex-lg-columnr {
    flex-direction: column-reverse;
  }

  .back-retreat-lg {
    margin: 0 -1rem;
  }

  .block-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex: 1;
    max-width: 100%;
  }

  .block-lg-1 {
    -ms-flex-preferred-size: 0 0 8.33333%;
    -webkit-flex-basis: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .block-lg-2 {
    -ms-flex-preferred-size: 0 0 16.66667%;
    -webkit-flex-basis: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .block-lg-3 {
    -ms-flex-preferred-size: 0 0 25%;
    -webkit-flex-basis: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block-lg-4 {
    -ms-flex-preferred-size: 0 0 33.33333%;
    -webkit-flex-basis: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .block-lg-5 {
    -ms-flex-preferred-size: 0 0 41.66667%;
    -webkit-flex-basis: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .block-lg-6 {
    -ms-flex-preferred-size: 0 0 50%;
    -webkit-flex-basis: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .block-lg-7 {
    -ms-flex-preferred-size: 0 0 58.33333%;
    -webkit-flex-basis: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .block-lg-8 {
    -ms-flex-preferred-size: 0 0 66.66667%;
    -webkit-flex-basis: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .block-lg-9 {
    -ms-flex-preferred-size: 0 0 75%;
    -webkit-flex-basis: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .block-lg-10 {
    -ms-flex-preferred-size: 0 0 83.33333%;
    -webkit-flex-basis: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .block-lg-11 {
    -ms-flex-preferred-size: 0 0 91.66667%;
    -webkit-flex-basis: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .block-lg-12 {
    -ms-flex-preferred-size: 0 0 100%;
    -webkit-flex-basis: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
