/* =================
          Grid
   ================= */
.container {
  margin: 0 auto;
}

.container,
.container-full {
  padding: 0 1rem;
}
.container > [class*="block-"],
.container-full > [class*="block-"] {
  padding: 0 1rem;
  position: relative;
}

.flex,
.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex: 1;
  max-width: 100%;
}

.block-xs-1 {
  -ms-flex-preferred-size: 0 0 8.33333%;
  -webkit-flex-basis: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.block-xs-2 {
  -ms-flex-preferred-size: 0 0 16.66667%;
  -webkit-flex-basis: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.block-xs-3 {
  -ms-flex-preferred-size: 0 0 25%;
  -webkit-flex-basis: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.block-xs-4 {
  -ms-flex-preferred-size: 0 0 33.33333%;
  -webkit-flex-basis: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.block-xs-5 {
  -ms-flex-preferred-size: 0 0 41.66667%;
  -webkit-flex-basis: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.block-xs-6 {
  -ms-flex-preferred-size: 0 0 50%;
  -webkit-flex-basis: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.block-xs-7 {
  -ms-flex-preferred-size: 0 0 58.33333%;
  -webkit-flex-basis: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.block-xs-8 {
  -ms-flex-preferred-size: 0 0 66.66667%;
  -webkit-flex-basis: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.block-xs-9 {
  -ms-flex-preferred-size: 0 0 75%;
  -webkit-flex-basis: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.block-xs-10 {
  -ms-flex-preferred-size: 0 0 83.33333%;
  -webkit-flex-basis: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.block-xs-11 {
  -ms-flex-preferred-size: 0 0 91.66667%;
  -webkit-flex-basis: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.block-xs-12 {
  -ms-flex-preferred-size: 0 0 100%;
  -webkit-flex-basis: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 97%;
  }

  .block-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .block-sm-1 {
    -ms-flex-preferred-size: 0 0 8.33333%;
    -webkit-flex-basis: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .block-sm-2 {
    -ms-flex-preferred-size: 0 0 16.66667%;
    -webkit-flex-basis: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .block-sm-3 {
    -ms-flex-preferred-size: 0 0 25%;
    -webkit-flex-basis: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block-sm-4 {
    -ms-flex-preferred-size: 0 0 33.33333%;
    -webkit-flex-basis: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .block-sm-5 {
    -ms-flex-preferred-size: 0 0 41.66667%;
    -webkit-flex-basis: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .block-sm-6 {
    -ms-flex-preferred-size: 0 0 50%;
    -webkit-flex-basis: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .block-sm-7 {
    -ms-flex-preferred-size: 0 0 58.33333%;
    -webkit-flex-basis: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .block-sm-8 {
    -ms-flex-preferred-size: 0 0 66.66667%;
    -webkit-flex-basis: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .block-sm-9 {
    -ms-flex-preferred-size: 0 0 75%;
    -webkit-flex-basis: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .block-sm-10 {
    -ms-flex-preferred-size: 0 0 83.33333%;
    -webkit-flex-basis: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .block-sm-11 {
    -ms-flex-preferred-size: 0 0 91.66667%;
    -webkit-flex-basis: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .block-sm-12 {
    -ms-flex-preferred-size: 0 0 100%;
    -webkit-flex-basis: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 95%;
  }

  .block-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }

  .block-md-1 {
    -ms-flex-preferred-size: 0 0 8.33333%;
    -webkit-flex-basis: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .block-md-2 {
    -ms-flex-preferred-size: 0 0 16.66667%;
    -webkit-flex-basis: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .block-md-3 {
    -ms-flex-preferred-size: 0 0 25%;
    -webkit-flex-basis: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block-md-4 {
    -ms-flex-preferred-size: 0 0 33.33333%;
    -webkit-flex-basis: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .block-md-5 {
    -ms-flex-preferred-size: 0 0 41.66667%;
    -webkit-flex-basis: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .block-md-6 {
    -ms-flex-preferred-size: 0 0 50%;
    -webkit-flex-basis: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .block-md-7 {
    -ms-flex-preferred-size: 0 0 58.33333%;
    -webkit-flex-basis: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .block-md-8 {
    -ms-flex-preferred-size: 0 0 66.66667%;
    -webkit-flex-basis: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .block-md-9 {
    -ms-flex-preferred-size: 0 0 75%;
    -webkit-flex-basis: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .block-md-10 {
    -ms-flex-preferred-size: 0 0 83.33333%;
    -webkit-flex-basis: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .block-md-11 {
    -ms-flex-preferred-size: 0 0 91.66667%;
    -webkit-flex-basis: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .block-md-12 {
    -ms-flex-preferred-size: 0 0 100%;
    -webkit-flex-basis: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1201px) {
  .container {
    width: 1190px;
  }

  .block-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex: 1;
    max-width: 100%;
  }

  .block-lg-1 {
    -ms-flex-preferred-size: 0 0 8.33333%;
    -webkit-flex-basis: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .block-lg-2 {
    -ms-flex-preferred-size: 0 0 16.66667%;
    -webkit-flex-basis: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .block-lg-3 {
    -ms-flex-preferred-size: 0 0 25%;
    -webkit-flex-basis: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .block-lg-4 {
    -ms-flex-preferred-size: 0 0 33.33333%;
    -webkit-flex-basis: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .block-lg-5 {
    -ms-flex-preferred-size: 0 0 41.66667%;
    -webkit-flex-basis: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .block-lg-6 {
    -ms-flex-preferred-size: 0 0 50%;
    -webkit-flex-basis: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .block-lg-7 {
    -ms-flex-preferred-size: 0 0 58.33333%;
    -webkit-flex-basis: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .block-lg-8 {
    -ms-flex-preferred-size: 0 0 66.66667%;
    -webkit-flex-basis: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .block-lg-9 {
    -ms-flex-preferred-size: 0 0 75%;
    -webkit-flex-basis: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .block-lg-10 {
    -ms-flex-preferred-size: 0 0 83.33333%;
    -webkit-flex-basis: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .block-lg-11 {
    -ms-flex-preferred-size: 0 0 91.66667%;
    -webkit-flex-basis: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .block-lg-12 {
    -ms-flex-preferred-size: 0 0 100%;
    -webkit-flex-basis: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
