/* ====================
          Images
   ==================== */
img.rounded {
  border-radius: 0.35rem;
}

img.circle {
  border-radius: 100%;
}

img.border {
  border: .1rem solid #CCC;
  padding: .2rem;
}

img.opacity {
  opacity: 0.5;
}
