/* ====================
          Images
   ==================== */
img.rounded {
  border-radius: 0.3571rem;
}

img.circle {
  border-radius: 100%;
}

img.border {
  border: .07143rem solid #CCC;
  padding: .2143rem;
}

img.opacity {
  opacity: 0.5;
}
