/* ====================
          Tables
   ==================== */
.table {
  width: 100%;
  border-collapse: separate;
}
.table td {
  padding: .5714rem;
}
.table tr:not(:last-child) td {
  border-bottom: .07143rem solid #eee;
}
.table thead td {
  border-bottom: .1429rem solid #eee !important;
}

.table-var tr:nth-child(even) {
  background: #F7F7F7;
}

table > tbody > .table-row.default {
  background: #dddddd;
}
table > tbody > .table-row.red {
  background: #fad3d4;
}
table > tbody > .table-row.blue {
  background: #e0f0fc;
}
table > tbody > .table-row.green {
  background: #d0f4d2;
}
table > tbody > .table-row.purple {
  background: #e6b5ee;
}
table > tbody > .table-row.orange {
  background: #ffeacc;
}

.table-hov > tbody > tr:hover {
  background: #f7f7f7;
}

.table-hov > tbody > .table-row.default:hover {
  background: #d0d0d0;
}
.table-hov > tbody > .table-row.red:hover {
  background: #f7bcbe;
}
.table-hov > tbody > .table-row.blue:hover {
  background: #c8e4fa;
}
.table-hov > tbody > .table-row.green:hover {
  background: #bcefbe;
}
.table-hov > tbody > .table-row.purple:hover {
  background: #dfa0ea;
}
.table-hov > tbody > .table-row.orange:hover {
  background: #ffe0b3;
}

.table-divi {
  border: .07143rem solid #ddd;
}
.table-divi td:not(:last-child) {
  border-right: .07143rem solid #ddd;
}

table > tbody > .table-row {
  color: #444;
}
table > tbody > .table-row > td {
  border-bottom: 0.07143rem solid rgba(255, 255, 255, 0.3) !important;
  border-right-color: rgba(255, 255, 255, 0.3) !important;
}
