/* Tables */
.table {
  width: 100%;
  border-collapse: separate;
}
.table td, .table th {
  padding: .4rem;
}
.table thead td, .table thead th {
  border-bottom: 0.15rem solid #e6e6e6;
  padding-top: .6rem;
  padding-bottom: .6rem;
}
.table.bor tr:not(:last-child) td, .table.bor tr:not(:last-child) th {
  border-bottom: 0.1rem solid #e6e6e6;
}
.table.var tr:nth-child(even) {
  background: #f7f7f7;
}
.table.hov > tbody > tr:hover {
  background: #f2f2f2;
}
.table.hov > tbody > .table-row.default:hover {
  background: #d0d0d0;
}
.table.hov > tbody > .table-row.red:hover {
  background: #f2bec0;
}
.table.hov > tbody > .table-row.blue:hover {
  background: #c9ddfa;
}
.table.hov > tbody > .table-row.green:hover {
  background: #c1eac2;
}
.table.hov > tbody > .table-row.purple:hover {
  background: #e0b9e7;
}
.table.hov > tbody > .table-row.orange:hover {
  background: #ffe0b3;
}
.table.divi {
  border: 0.1rem solid #e6e6e6;
}
.table.divi td:not(:last-child), .table.divi th:not(:last-child) {
  border-right: 0.1rem solid #e6e6e6;
}

@media (max-width: 767px) {
  .table.respon {
    display: flex;
    font-size: 0;
    white-space: nowrap;
  }
  .table.respon tr {
    display: inline-block;
    font-size: .8rem;
  }
  .table.respon thead {
    display: block;
    float: left;
    border-right: 0.1rem solid #e6e6e6;
  }
  .table.respon thead td, .table.respon thead th {
    display: block;
    padding: .8rem;
    font-weight: bold;
    text-align: right;
  }
  .table.respon tbody {
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .table.respon tbody td, .table.respon tbody th {
    display: block;
    padding: .8rem;
  }
  .table.respon .table-row > td,
  .table.respon td, .table.respon th {
    border: 0 !important;
  }
}
table > tbody > .table-row.default {
  background: #dddddd;
}
table > tbody > .table-row.red {
  background: #f6d4d5;
}
table > tbody > .table-row.blue {
  background: #e1ecfc;
}
table > tbody > .table-row.green {
  background: #d4f1d5;
}
table > tbody > .table-row.purple {
  background: #e8cced;
}
table > tbody > .table-row.orange {
  background: #ffeacc;
}

table > tbody > .table-row {
  color: #444;
}
table > tbody > .table-row > td {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1) !important;
  border-right-color: rgba(0, 0, 0, 0.1) !important;
}
