@import "config";
/* ========================
          Backgrounds
   ======================== */

.bg {
  &.dark_gray,
  &.red,
  &.blue,
  &.green,
  &.purple,
  &.orange {
    color: white;
  }
  &.default, &.light_gray, &.gray {
    color: $default_text_color;
  }
  &.default {
    background: white;
  }
  &.light_gray {
    background: $light_gray;
  }
  &.gray {
    background: $gray;
  }
  &.dark_gray {
    background: $dark_gray;
  }
  &.red {
    background: $red;
  }
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
  &.purple {
    background: $purple;
  }
  &.orange {
    background: $orange;
  }
  > a {
    color: white;
    font-style: italic;
  }
  &.gray > a, &.light_gray > a, &.default > a {
    color: $default_text_color;
  }
  code {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}