@import "config";
/* Backgrounds */

.bg {
  &.panel {
    &.white,
    &.light_gray,
    &.gray,
    &.dark_gray,
    &.red,
    &.blue,
    &.green,
    &.purple,
    &.orange {
      padding: 1rem;
      border-radius: .2rem;
      box-shadow: 0 .1rem .4rem 0 rgba(0, 0, 0, .16),
                  0 .6rem .8rem 0 rgba(0, 0, 0, .12);
    }
  }

  &.dark_gray,
  &.red,
  &.blue,
  &.green,
  &.purple,
  &.orange {
    color: white;
  }
  &.white, &.light_gray, &.gray {
    color: $default_text_color;
  }
  &.white {
    background: white;
  }
  &.light_gray {
    background: $light_gray;
  }
  &.gray {
    background: $gray;
  }
  &.dark_gray {
    background: $dark_gray;
  }
  &.red {
    background: $red;
  }
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
  &.purple {
    background: $purple;
  }
  &.orange {
    background: $orange;
  }
  > a {
    color: white;
    font-style: italic;
  }
  &.gray > a, &.light_gray > a, &.white > a {
    color: $default_text_color;
  }
  code {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}