@import "config";
/* =====================
          Buttons
   ===================== */

.btn {
  transition: $global_transition;
  padding: 0 1.8rem;
  line-height: 3rem;
  border: .2rem solid transparent;
  border-radius: $btn-border-radius;
  margin: .2rem 0;
  outline: none;
  color: $default_site_color;
  background-color: $default_background;
  background-size: 100%;
  background-position: 50%;
  &:active:not([disabled]) {
    background-color: $default_site_color;
    background-image: radial-gradient(circle, $default_site_color 10%, $default_site_color + #444 11%);
  }
  &:hover:not([disabled]) {
    background-color: $default_site_color + #444;
  }
  &:active, &:hover {
    color: white;
  }
  &:hover, &:focus {
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .12),0 .2rem .2rem rgba(0,0,0,.2);
  }
  &:active {
    box-shadow: 0 .8rem 1.2rem rgba(0, 0, 0, .19),
                0 .5rem .5rem rgba(0, 0, 0, .23);
    background-repeat: no-repeat;
    background-size: 1000%;
  }
  &.default {
    color: $default_site_color;
    background: none;
    box-shadow: none;
    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
  &.default.white {
    color: white;
    &:hover {
      color: white;
    }
  }
  &.flat {
    border-radius: 0;
    box-shadow: none;
  }
  &.red,
  &.blue,
  &.green,
  &.purple,
  &.orange {
    &.active, &:hover, &:active {
      color: white;
    }
  }

  // All buttons
  @mixin btn($color) {
    border-color: $color;
    color: $color;
    &.active {
      background-color: $color;
    }
    &:hover:not([disabled]) {
      background-color: $color + #111;
      border-color: $color + #111;
    }
    &:active:not([disabled]) {
      background-color: $color + #333;
      border-color: $color + #333;
      background-image: radial-gradient(circle, $color + #333 12%, $color + #222 13%);
    }
  }

  &.red { @include btn($red); }
  &.blue { @include btn($blue); }
  &.green { @include btn($green); }
  &.purple { @include btn($purple); }
  &.orange { @include btn($orange); }
}

.btn[disabled] {
  opacity: 0.5;
  color: $default_site_color;
  cursor: not-allowed;
  &:not(.btn) {
    background: none;
  }
  &:hover {
    text-decoration: none;
    box-shadow: none;
  }
  &.red {
    color: $red;
  }
  &.blue {
    color: $blue;
  }
  &.green {
    color: $green;
  }
  &.purple {
    color: $purple;
  }
  &.orange {
    color: $orange;
  }
  &.active:not(.default) {
    color: white;
  }
}

div.btn {
  display: inline-block;
}

a.btn {
  display: inline-block;
  &:active, &:hover {
    text-decoration: none;
  }
}

@mixin btn-size($size, $height, $pad) {
  font-size: $size;
  line-height: $height;
  padding: $pad;
}

.btn.small { @include btn-size(0.8rem, 2rem, 0 1rem) }
.btn.big { @include btn-size(1.5rem, 4rem, 0 1.8rem) }