// ==========================
//     Global config file
// ==========================

$default_text_color: #444;
$default_background: white;
$default_site_color: #2780e3;
$default_font_size: 14px;

$blocks: 12; // Number blocks in grid
$gutter: 1rem; // Padding in grid blocks

$media_xs_max: 767px; // (max-width: 767px)
$media_sm_min: 768px; // (min-width: 768px)
$media_sm_max: 991px; // (max-width: 991px)
$media_md_min: 992px; // (min-width: 992px)
$media_md_max: 1200px; // (max-width: 1200px)
$media_lg_min: 1201px; // (min-width: 1201px)

$light_gray: #F5F5F5;
$gray: #ddd;
$dark_gray: #ADADAD;
$red: #D42A30;
$blue: #2675EB;
$green: #3EBB42;
$purple: #9F3DB0;
$orange: #ff9800;

$default-border-radius: .2rem;
$btn-border-radius: .25rem;
$img-border-radius: .35rem;

$global_transition: 0.2s ease-in-out;