@import "config";
/* ===========================
          Default styles
   =========================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

html {
  font-size: 14px;
}

body {
    font: 1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $default_background;
    color: $default_text_color;
    line-height: 1.4;
}

a {
  text-decoration: none;
  color: $default_site_color + #111;
  background-color: transparent;
  cursor: pointer;
  transition: $global_transition;
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
    color: $default_site_color + #333;
  }
  &:focus {
    color: white;
    background: $default_site_color;
  }
}

p {
  margin: .2rem 0 1rem;
}

img {
  max-width: 100%;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: .07143rem solid #eee;
}

blockquote {
  position: relative;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  &:before, &:after {
    font-size: 1.5rem;
    position: absolute;
  }
  &:before {
    font-family: "FontAwesome";
    content: "\f10d";
    top: -1.5rem;
    left: 0;
  }
  &:after {
    font-family: "FontAwesome";
    content: "\f10e";
    bottom: -1.5rem;
    right: 0;
  }
}

input[type=text], input[type=email], input[type=password], input[type=number], optgroup, textarea, select {
  margin: .2143rem 0;
  padding: .7rem;
  border: 0;
  border: .07143rem solid $default_background - #111;
  border-bottom-width: .15rem;
  background: inherit;
  transition: $global_transition;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover, optgroup:hover, textarea:hover, select:hover {
  border-bottom-color: $default_site_color + #222;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, optgroup:focus, textarea:focus, select:focus {
  border-color: $default_site_color + #222;
  outline: none;
  box-shadow: inset 0 -.07143rem $default_site_color + #222, inset 0 -.5rem .7143rem -.7143rem #8E8E8E;
}

/* Clearfix from Nicolas Gallagher | http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
}