@import "config";
/* Default styles */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

html {
  font-size: $default_font_size;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic);

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background: $default_background;
    color: $default_text_color;
    line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: $default_site_color + #111;
  cursor: pointer;
  &:hover {
    color: $default_site_color + #333;
  }
  &:focus {
    text-decoration: underline;
  }
}

p {
  margin: .2rem 0 1rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: circle;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

blockquote {
  padding: 1rem 3.5rem;
  font-size: 1.3rem;
  border-left: .4rem solid $default_background - #111;
}

/* Clearfix from Nicolas Gallagher | http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
}