@import "config";
/* ===========================
          Default styles
   =========================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}

html {
  font-size: $default_font_size;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background: $default_background;
    color: $default_text_color;
    line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: $default_site_color + #111;
  background-color: transparent;
  cursor: pointer;
  transition: $global_transition;
  &:active {
    outline: 0;
  }
  &:hover {
    outline: 0;
    color: $default_site_color + #333;
  }
  &:focus {
    color: white;
    background: $default_site_color;
  }
}

p {
  margin: .2rem 0 1rem;
}

img {
  max-width: 100%;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: .1rem solid $default_background - #111;
}

blockquote {
  padding: 1rem 3.5rem;
  font-size: 1.3rem;
  border-left: .4rem solid $default_background - #111;
}

/* Clearfix from Nicolas Gallagher | http://nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  zoom: 1;
}