@import "config";
/* ===========================
          Help classes
   =========================== */

.full-w {
  width: 100%;
}

.center-block, .center {
  text-align: center;
}

header,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
  &.center-block {
    display: table;
    margin: 0 auto;
  }
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.marg-small {
  margin: .5rem;
}

.marg-medium {
  margin: 1rem;
}

.marg-big {
  margin: 2rem;
}

.pad-small {
  padding: .5rem;
}

.pad-medium {
  padding: 1rem;
}

.pad-big {
  padding: 2rem;
}

.text-small {
  font-size: .8rem;
  line-height: 1rem;
}

.text-size-1 {
  font-size: 4rem;
  line-height: 4rem;
}

.text-size-2 {
  font-size: 3rem;
  line-height: 3rem;
}

.text-size-3 {
  font-size: 2rem;
  line-height: 2.1rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}