@import "config";
/* ===========================
          Help classes
   =========================== */

.full-w {
  width: 100%;
}

.center-block, .center {
  text-align: center;
}

header,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
  &.center-block {
    margin-left: auto;
    margin-right: auto;
  }
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.marg-small {
  margin: .5rem;
}

.marg-medium {
  margin: 1rem;
}

.marg-big {
  margin: 2rem;
}

.pad-small {
  padding: .5rem;
}

.pad-medium {
  padding: 1rem;
}

.pad-big {
  padding: 2rem;
}

.text-small {
  font-size: .8rem;
  line-height: 1rem;
}

.text-size-1 {
  font-size: 4rem;
  line-height: 4rem;
}

.text-size-2 {
  font-size: 3rem;
  line-height: 3rem;
}

.text-size-3 {
  font-size: 2rem;
  line-height: 2.1rem;
}

.text-justify {
  text-align: justify;
}

.text-xs-left {
  text-align: left;
}

.text-xs-center {
  text-align: center;
}

.text-xs-right {
  text-align: right;
}

@media only screen and (min-width: $media_sm_min) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-right {
    text-align: right;
  }
}
@media only screen and (min-width: $media_md_min) {
  .text-md-left {
    text-align: left;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-right {
    text-align: right;
  }
}
@media only screen and (min-width: $media_lg_min) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-right {
    text-align: right;
  }
}