@import "config";
/* Help classes */

.full-w {
  width: 100%;
}

.center-block, .center {
  text-align: center;
}

header,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
  &.center-block {
    margin-left: auto;
    margin-right: auto;
  }
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.marg-small {
  margin: .5rem !important;
}

.marg-medium {
  margin: 1rem !important;
}

.marg-big {
  margin: 2rem !important;
}

.pad-small {
  padding: .5rem !important;
}

.pad-medium {
  padding: 1rem !important;
}

.pad-big {
  padding: 2rem !important;
}

.text-small {
  font-size: .8rem !important;
}

.text-size-1 {
  font-size: 4rem !important;
  line-height: 4rem !important;
}

.text-size-2 {
  font-size: 3rem !important;
  line-height: 3rem !important;
}

.text-size-3 {
  font-size: 2rem !important;
  line-height: 2.1rem !important;
}

.text-justify {
  text-align: justify !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}