@import "config";
/* ====================
          Tables
   ==================== */

.table {
  width: 100%;
  border-collapse: separate;
  td {
    padding: .5714rem;
  }
  tr:not(:last-child) td {
    border-bottom: .07143rem solid #eee;
  }
  thead td {
    border-bottom: .1429rem solid #eee !important;
  }
}

.table-var tr:nth-child(even) {
  background: #F7F7F7;
}

table > tbody > .table-row {
  &.default {
    background: lighten($default_text_color, 60);
  }
  &.red {
    background: lighten($red, 40);
  }
  &.blue {
    background: lighten($blue, 40);
  }
  &.green {
    background: lighten($green, 40);
  }
  &.purple {
    background: lighten($purple, 40);
  }
  &.orange {
    background: lighten($orange, 40);
  }
}

.table-hov > tbody > tr:hover {
  background: lighten($default_text_color, 70);
}

.table-hov > tbody > .table-row {
  &.default:hover {
    background: lighten($default_text_color, 55);
  }
  &.red:hover {
    background: lighten($red, 35);
  }
  &.blue:hover {
    background: lighten($blue, 35);
  }
  &.green:hover {
    background: lighten($green, 35);
  }
  &.purple:hover {
    background: lighten($purple, 35);
  }
  &.orange:hover {
    background: lighten($orange, 35);
  }
}

.table-divi {
  border: .07143rem solid #ddd;
  td:not(:last-child) {
    border-right: .07143rem solid #ddd;
  }
}

table > tbody > .table-row {
  color: #444;
  > td {
    border-bottom: .07143rem solid rgba(255, 255, 255, 0.3) !important;
    border-right-color: rgba(255, 255, 255, 0.3) !important;
  }
}