@import "config";
/* ==================
          Text
   ================== */

.title {
  font-size: 1.5rem;
  padding: .5rem 0;
  margin-bottom: .7rem;
  border-bottom: .1rem solid $default_site_color + #222;
}

.title-article {
  font-size: 2.2rem;
  background: linear-gradient(to left, transparent 50%, $default_site_color 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: color 1.2s, background-position 0.8s;
  display: inline;
  padding: 0 .2rem;
  &:hover, a:hover {
    text-decoration: none;
    background-position: left bottom;
    color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  margin: 0;
}

h1, .h1, h1.title {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2, .h2, h2.title {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3, .h3, h3.title {
  font-size: 1.75rem;
  line-height: 2.2rem;
}

h4, .h4, h4.title {
  font-size: 1.5rem;
  line-height: 2rem;
}

h5, .h5, h5.title {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6, .h6, h6.title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.default {
  color: $default_text_color;
}

.light_gray {
  color: $light_gray;
}

.gray {
  color: $gray;
}

.dark_gray {
  color: $dark_gray;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.orange {
  color: $orange;
}

mark {
  padding: .1rem .2rem;
  font-size: 85%;
}

pre {
  padding: .5rem 0;
  & > code {
    display: block;
    border-bottom: .25rem solid $default_background - #111;
    padding: .8rem;
    font-size: 90%;
  }
}

code {
  padding: .1rem .2rem;
  margin: 0;
  background-color: $default_background - #0A0A0A;
  border-radius: $default_border_radius;
}

pre, code {
  font-size: 90%;
  tab-size: 4;
  -moz-tab-size: 4;
  overflow: auto;
}