// ==========================
//     Global config file
// ==========================

$default_text_color: #444;
$default_site_color: #2780e3;

$media_max_mobile: 768px; // (max-width: 768px)
$media_min_mobile: 769px; // (min-width: 769px)
$media_max_tablet: 992px; // (max-width: 992px)
$media_min_tablet: 993px; // (min-width: 993px)
$media_max_pc: 1199px; // (max-width: 1199px)
$media_min_pc: 1200px; // (min-width: 1200px)
$media_min_bigpc: 1500px; // (min-width: 1500px)

$light_gray: #F5F5F5;
$gray: #ddd;
$dark_gray: #ADADAD;
$red: #e51c23;
$blue: #2494EC;
$green: #31C736;
$purple: #9c27b0;
$orange: #ff9800;

$default-border-radius: 3px;
$btn-border-radius: 5px;
$img-border-radius: 5px;

$global_transition: 0.3s;