@import "config";
/* ===========================
          Help classes
   =========================== */

.full-w {
  width: 100%;
}

.center-block, .center {
  text-align: center;
}

header.center-block, article.center-block, aside.center-block, details.center-block, figcaption.center-block, figure.center-block, footer.center-block, header.center-block, hgroup.center-block, main.center-block, menu.center-block, nav.center-block, section.center-block, summary.center-block, div.center-block {
  display: table;
  margin: 0 auto;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.marg-20 {
  margin: 20px;
}

.marg-10 {
  margin: 10px;
}

.marg-5 {
  margin: 5px;
}

.marg-2 {
  margin: 2px;
}

.marg-0 {
  margin: 0px;
}

.pad-20 {
  padding: 20px;
}

.pad-10 {
  padding: 10px;
}

.pad-5 {
  padding: 5px;
}

.pad-2 {
  padding: 2px;
}

.pad-0 {
  padding: 0px;
}

.font-10 {
  font-size: 10px;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}

.font-40 {
  font-size: 40px;
}

.font-50 {
  font-size: 50px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.flex {
  display: flex;
}